body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1145px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:1144px;
}
#u4889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:31px;
}
#u4890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:1366px;
  height:89px;
}
#u4891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:131px;
  height:50px;
}
#u4892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u4893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:50px;
  width:80px;
  height:31px;
}
#u4893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:50px;
  width:80px;
  height:31px;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:58px;
  width:28px;
  height:16px;
}
#u4895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:58px;
  width:28px;
  height:16px;
}
#u4896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:41px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:204px;
  width:930px;
  height:40px;
}
#u4897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:216px;
  width:56px;
  height:16px;
}
#u4898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:344px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:248px;
  width:264px;
  height:343px;
}
#u4899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:26px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:248px;
  width:660px;
  height:25px;
}
#u4900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:656px;
  word-wrap:break-word;
}
#u4901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:90px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:204px;
  width:281px;
  height:79px;
  font-size:16px;
  color:#FFFFFF;
}
#u4901_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u4902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:584px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:273px;
  width:660px;
  height:583px;
}
#u4902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:781px;
  width:75px;
  height:25px;
}
#u4903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u4904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:781px;
  width:75px;
  height:25px;
}
#u4904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u4905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:127px;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:312px;
  width:280px;
  height:116px;
  font-size:16px;
  color:#FFFFFF;
}
#u4905_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:1621px;
  top:428px;
  width:0px;
  height:0px;
}
#u4906_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4906_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:92px;
  height:8px;
}
#u4906_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:38px;
  width:8px;
  height:18px;
}
#u4906_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:257px;
  width:42px;
  height:16px;
}
#u4907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:383px;
  width:42px;
  height:16px;
}
#u4908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:409px;
  width:42px;
  height:16px;
}
#u4909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:409px;
  width:77px;
  height:16px;
}
#u4910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:383px;
  width:42px;
  height:16px;
}
#u4911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:438px;
  width:42px;
  height:16px;
}
#u4912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:438px;
  width:113px;
  height:16px;
}
#u4913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:464px;
  width:42px;
  height:16px;
}
#u4914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:464px;
  width:124px;
  height:16px;
}
#u4915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u4916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:492px;
  width:42px;
  height:16px;
}
#u4916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:492px;
  width:91px;
  height:16px;
}
#u4917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:290px;
  width:69px;
  height:69px;
  font-family:'Apple Color Emoji Regular', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  word-wrap:break-word;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:544px;
  width:71px;
  height:20px;
}
#u4919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:518px;
  width:42px;
  height:16px;
}
#u4920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:518px;
  width:58px;
  height:16px;
  text-decoration:underline;
}
#u4921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:6px;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:165px;
  width:150px;
  height:5px;
}
#u4922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u4924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u4925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u4926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:381px;
  width:20px;
  height:20px;
}
#u4927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:381px;
  width:20px;
  height:20px;
}
#u4928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:128px;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:716px;
  width:280px;
  height:117px;
  font-size:16px;
  color:#FFFFFF;
}
#u4929_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:728px;
  width:0px;
  height:0px;
}
#u4930_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u4930_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:48px;
}
#u4930_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:36px;
  width:618px;
  height:8px;
}
#u4930_seg3 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:36px;
  width:8px;
  height:15px;
}
#u4930_seg4 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:43px;
  width:15px;
  height:8px;
}
#u4930_text {
  border-width:0px;
  position:absolute;
  left:289px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:1507px;
  top:484px;
  width:396px;
  height:196px;
}
#u4931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:493px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u4932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:638px;
  width:145px;
  height:29px;
}
#u4933_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:1870px;
  top:493px;
  width:17px;
  height:17px;
}
#u4934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:532px;
  width:162px;
  height:23px;
  font-size:20px;
}
#u4935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:638px;
  width:145px;
  height:29px;
}
#u4936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:781px;
  width:75px;
  height:25px;
}
#u4937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u4938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:77px;
}
#u4938 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:871px;
  width:280px;
  height:66px;
  font-size:16px;
  color:#FFFFFF;
}
#u4938_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u4939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u4939 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:601px;
  width:264px;
  height:42px;
}
#u4939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u4940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:853px;
  width:264px;
  height:42px;
}
#u4940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u4941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:895px;
  width:264px;
  height:42px;
}
#u4941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u4942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:643px;
  width:264px;
  height:42px;
}
#u4942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u4943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:727px;
  width:212px;
  height:42px;
}
#u4943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u4944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:685px;
  width:212px;
  height:42px;
}
#u4944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u4945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:769px;
  width:212px;
  height:42px;
}
#u4945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:937px;
  width:264px;
  height:42px;
}
#u4946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u4947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:811px;
  width:212px;
  height:42px;
}
#u4947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u4948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:273px;
  width:64px;
  height:22px;
  color:#FF0000;
}
#u4948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u4949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:128px;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:67px;
  width:280px;
  height:117px;
  font-size:16px;
  color:#FFFFFF;
}
#u4949_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:284px;
  width:0px;
  height:0px;
}
#u4950_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:256px;
  height:8px;
}
#u4950_seg1 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-162px;
  width:8px;
  height:166px;
}
#u4950_seg2 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-162px;
  width:15px;
  height:8px;
}
#u4950_text {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:69px;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:947px;
  width:253px;
  height:58px;
  font-size:16px;
  color:#FFFFFF;
}
#u4951_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u4952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:149px;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:1796px;
  top:297px;
  width:253px;
  height:138px;
  font-size:16px;
  color:#FFFFFF;
}
#u4952_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:92px;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:1791px;
  top:151px;
  width:263px;
  height:81px;
  font-size:16px;
  color:#FFFFFF;
}
#u4953_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u4954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:517px;
  width:71px;
  height:16px;
}
#u4954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:571px;
  width:70px;
  height:16px;
}
#u4955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:571px;
  width:22px;
  height:16px;
}
#u4956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:346px;
  width:42px;
  height:16px;
}
#u4957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:346px;
  width:66px;
  height:16px;
}
#u4958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:372px;
  width:42px;
  height:16px;
}
#u4959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:372px;
  width:103px;
  height:16px;
}
#u4960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:398px;
  width:42px;
  height:16px;
}
#u4961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:517px;
  width:29px;
  height:16px;
}
#u4962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:544px;
  width:22px;
  height:16px;
}
#u4963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:720px;
  width:83px;
  height:16px;
}
#u4964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u4965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:720px;
  width:53px;
  height:16px;
}
#u4965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:571px;
  width:22px;
  height:16px;
}
#u4966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:598px;
  width:70px;
  height:16px;
}
#u4967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:83px;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:621px;
  width:402px;
  height:82px;
}
#u4968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u4969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:424px;
  width:23px;
  height:16px;
}
#u4969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:452px;
  width:42px;
  height:16px;
}
#u4970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:452px;
  width:77px;
  height:16px;
}
#u4971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u4972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:398px;
  width:42px;
  height:16px;
}
#u4972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:424px;
  width:42px;
  height:16px;
}
#u4973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:747px;
  width:15px;
  height:16px;
}
#u4974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:748px;
  width:86px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u4975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u4976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:346px;
  width:42px;
  height:16px;
}
#u4976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:346px;
  width:111px;
  height:16px;
}
#u4977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:372px;
  width:42px;
  height:16px;
}
#u4978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:372px;
  width:28px;
  height:16px;
}
#u4979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:398px;
  width:56px;
  height:16px;
}
#u4980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:398px;
  width:56px;
  height:16px;
}
#u4981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:425px;
  width:42px;
  height:16px;
}
#u4982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:425px;
  width:28px;
  height:16px;
}
#u4983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:452px;
  width:42px;
  height:16px;
}
#u4984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:452px;
  width:28px;
  height:16px;
}
#u4985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:544px;
  width:56px;
  height:16px;
}
#u4986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:324px;
  width:613px;
  height:1px;
}
#u4987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:489px;
  width:613px;
  height:1px;
}
#u4988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:706px;
  width:613px;
  height:1px;
}
#u4989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:290px;
  width:70px;
  height:16px;
}
#u4990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:290px;
  width:179px;
  height:16px;
}
#u4991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:330px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:499px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:720px;
  width:56px;
  height:16px;
}
#u4994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:720px;
  width:42px;
  height:16px;
}
#u4995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:747px;
  width:83px;
  height:16px;
}
#u4996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u4997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:747px;
  width:80px;
  height:16px;
}
#u4997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:717px;
  width:20px;
  height:20px;
}
#u4998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:717px;
  width:20px;
  height:20px;
}
#u4999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:747px;
  width:42px;
  height:16px;
}
#u5000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
