body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:769px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:768px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:506px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:208px;
  width:930px;
  height:505px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:58px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:208px;
  width:930px;
  height:57px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:31px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:1366px;
  height:89px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:131px;
  height:50px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:50px;
  width:80px;
  height:31px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:50px;
  width:80px;
  height:31px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:58px;
  width:28px;
  height:16px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:58px;
  width:28px;
  height:16px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:225px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:231px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:226px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:231px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:226px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:231px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:226px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:231px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:226px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:94px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:101px;
  width:207px;
  height:83px;
  font-size:16px;
  color:#FFFFFF;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:239px;
  width:0px;
  height:0px;
}
#u1194_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:387px;
  height:8px;
}
#u1194_seg1 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:-100px;
  width:8px;
  height:104px;
}
#u1194_seg2 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:-100px;
  width:22px;
  height:8px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:198px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:636px;
  width:140px;
  height:36px;
  font-size:16px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:636px;
  width:140px;
  height:36px;
  font-size:16px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:275px;
  width:102px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:163px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:246px;
  width:287px;
  height:152px;
  font-size:16px;
  color:#FFFFFF;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:109px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:408px;
  width:287px;
  height:98px;
  font-size:16px;
  color:#FFFFFF;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:151px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:532px;
  width:287px;
  height:140px;
  font-size:16px;
  color:#FFFFFF;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:1911px;
  top:588px;
  width:0px;
  height:0px;
}
#u1201_seg0 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-4px;
  width:125px;
  height:8px;
}
#u1201_seg1 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-4px;
  width:8px;
  height:22px;
}
#u1201_seg2 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:10px;
  width:19px;
  height:8px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:1911px;
  top:575px;
  width:301px;
  height:26px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:576px;
  width:300px;
  height:25px;
}
#u1203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:119px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:698px;
  width:287px;
  height:108px;
  font-size:16px;
  color:#FFFFFF;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:137px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:1731px;
  top:115px;
  width:319px;
  height:126px;
  font-size:16px;
  color:#FFFFFF;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:299px;
  word-wrap:break-word;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:1891px;
  top:241px;
  width:0px;
  height:0px;
}
#u1206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1206_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:35px;
  width:154px;
  height:8px;
}
#u1206_seg2 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:35px;
  width:8px;
  height:23px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1839px;
  top:299px;
  width:396px;
  height:196px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:308px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:2074px;
  top:453px;
  width:145px;
  height:29px;
}
#u1209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2202px;
  top:308px;
  width:17px;
  height:17px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:24px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:347px;
  width:304px;
  height:23px;
  font-size:20px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:453px;
  width:145px;
  height:29px;
}
#u1212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:6px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:165px;
  width:150px;
  height:5px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:408px;
  width:70px;
  height:16px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:408px;
  width:716px;
  height:112px;
}
#u1219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:499px;
  width:27px;
  height:16px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:499px;
  width:8px;
  height:16px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:138px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:899px;
  width:263px;
  height:127px;
  font-size:16px;
  color:#FFFFFF;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:507px;
  width:0px;
  height:0px;
}
#u1223_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u1223_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-4px;
  width:8px;
  height:396px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:47px;
  top:140px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:323px;
  width:71px;
  height:16px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:368px;
  width:70px;
  height:16px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:323px;
  width:56px;
  height:16px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:318px;
  width:276px;
  height:25px;
}
#u1227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:318px;
  width:276px;
  height:25px;
}
#u1228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:325px;
  width:6px;
  height:6px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:368px;
  width:6px;
  height:6px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:323px;
  width:6px;
  height:6px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:937px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:937px;
  width:23px;
  height:16px;
  color:#FF0000;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:945px;
  width:0px;
  height:0px;
}
#u1234_seg0 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u1234_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-4px;
  width:8px;
  height:26px;
}
#u1234_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:14px;
  width:14px;
  height:8px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:208px;
  width:178px;
  height:42px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:174px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:250px;
  width:178px;
  height:42px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:174px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:111px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:838px;
  width:231px;
  height:100px;
  font-size:16px;
  color:#FFFFFF;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:229px;
  width:0px;
  height:0px;
}
#u1238_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1238_seg1 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:8px;
  height:667px;
}
#u1238_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:655px;
  width:148px;
  height:8px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:368px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:364px;
  width:61px;
  height:25px;
}
#u1239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:369px;
  width:15px;
  height:16px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:369px;
  width:15px;
  height:16px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:364px;
  width:61px;
  height:25px;
}
#u1242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
