body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1138px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:1137px;
}
#u2950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:31px;
}
#u2951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:1366px;
  height:89px;
  color:#FF0000;
}
#u2952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:131px;
  height:50px;
}
#u2953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u2954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:50px;
  width:80px;
  height:31px;
}
#u2954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:50px;
  width:80px;
  height:31px;
}
#u2955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:58px;
  width:28px;
  height:16px;
}
#u2956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:58px;
  width:28px;
  height:16px;
}
#u2957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:41px;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:204px;
  width:930px;
  height:40px;
}
#u2958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:216px;
  width:56px;
  height:16px;
}
#u2959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:344px;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:248px;
  width:264px;
  height:343px;
}
#u2960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:257px;
  width:42px;
  height:16px;
}
#u2961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:383px;
  width:42px;
  height:16px;
}
#u2962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:409px;
  width:42px;
  height:16px;
}
#u2963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:409px;
  width:77px;
  height:16px;
}
#u2964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:383px;
  width:42px;
  height:16px;
}
#u2965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:438px;
  width:42px;
  height:16px;
}
#u2966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:438px;
  width:113px;
  height:16px;
}
#u2967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:464px;
  width:42px;
  height:16px;
}
#u2968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:464px;
  width:124px;
  height:16px;
}
#u2969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u2970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:492px;
  width:42px;
  height:16px;
}
#u2970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:492px;
  width:91px;
  height:16px;
}
#u2971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:290px;
  width:69px;
  height:69px;
  font-family:'Apple Color Emoji Regular', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  word-wrap:break-word;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:544px;
  width:71px;
  height:20px;
}
#u2973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:518px;
  width:42px;
  height:16px;
}
#u2974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:518px;
  width:58px;
  height:16px;
  text-decoration:underline;
}
#u2975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:601px;
  width:264px;
  height:42px;
}
#u2976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:853px;
  width:264px;
  height:42px;
}
#u2977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:895px;
  width:264px;
  height:42px;
}
#u2978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:643px;
  width:264px;
  height:42px;
}
#u2979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:6px;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:165px;
  width:150px;
  height:5px;
}
#u2980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:381px;
  width:20px;
  height:20px;
}
#u2985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:381px;
  width:20px;
  height:20px;
}
#u2986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:727px;
  width:212px;
  height:42px;
}
#u2987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:685px;
  width:212px;
  height:42px;
}
#u2988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:769px;
  width:212px;
  height:42px;
}
#u2989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:937px;
  width:264px;
  height:42px;
}
#u2990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:811px;
  width:212px;
  height:42px;
}
#u2991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:33px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:248px;
  width:660px;
  height:32px;
  font-size:16px;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:656px;
  word-wrap:break-word;
}
#u2993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:843px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:282px;
  width:660px;
  height:842px;
  font-size:14px;
}
#u2993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:447px;
  width:162px;
  height:30px;
}
#u2994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2994_input:disabled {
  color:grayText;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:454px;
  width:70px;
  height:16px;
}
#u2995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:447px;
  width:195px;
  height:30px;
}
#u2996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2996_input:disabled {
  color:grayText;
}
#u2997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:454px;
  width:42px;
  height:16px;
}
#u2997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:497px;
  width:42px;
  height:16px;
}
#u2998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:497px;
  width:42px;
  height:16px;
}
#u2999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u3000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:544px;
  width:70px;
  height:16px;
}
#u3000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:544px;
  width:70px;
  height:16px;
}
#u3001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:644px;
  width:70px;
  height:16px;
}
#u3002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:699px;
  width:42px;
  height:16px;
}
#u3003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:699px;
  width:37px;
  height:16px;
}
#u3004_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u3004_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:699px;
  width:43px;
  height:16px;
}
#u3005_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u3005_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:736px;
  width:70px;
  height:16px;
}
#u3006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:736px;
  width:70px;
  height:16px;
}
#u3007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:786px;
  width:70px;
  height:16px;
}
#u3008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:779px;
  width:89px;
  height:30px;
}
#u3009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3009_input:disabled {
  color:grayText;
}
#u3010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:786px;
  width:56px;
  height:16px;
}
#u3010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:826px;
  width:56px;
  height:16px;
}
#u3011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:866px;
  width:34px;
  height:16px;
}
#u3012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u3013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:947px;
  width:70px;
  height:16px;
}
#u3013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1069px;
  width:151px;
  height:39px;
}
#u3014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u3015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:497px;
  width:56px;
  height:16px;
}
#u3015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:644px;
  width:6px;
  height:6px;
}
#u3016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:736px;
  width:6px;
  height:6px;
}
#u3017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:736px;
  width:6px;
  height:6px;
}
#u3018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:826px;
  width:6px;
  height:6px;
}
#u3019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:1069px;
  width:151px;
  height:39px;
}
#u3020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:537px;
  width:180px;
  height:30px;
}
#u3021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:490px;
  width:96px;
  height:30px;
}
#u3022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3022_input:disabled {
  color:grayText;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:490px;
  width:96px;
  height:30px;
}
#u3023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3023_input:disabled {
  color:grayText;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:490px;
  width:135px;
  height:30px;
}
#u3024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3024_input:disabled {
  color:grayText;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:537px;
  width:180px;
  height:30px;
}
#u3025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:592px;
  width:56px;
  height:16px;
}
#u3026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:585px;
  width:180px;
  height:30px;
}
#u3027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:637px;
  width:457px;
  height:30px;
}
#u3028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:729px;
  width:85px;
  height:30px;
}
#u3029_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:779px;
  width:276px;
  height:30px;
}
#u3030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:819px;
  width:154px;
  height:30px;
}
#u3031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:859px;
  width:154px;
  height:30px;
}
#u3032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:940px;
  width:154px;
  height:30px;
}
#u3033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:592px;
  width:70px;
  height:16px;
}
#u3034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:585px;
  width:180px;
  height:30px;
}
#u3035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:300px;
  width:70px;
  height:16px;
}
#u3036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:300px;
  width:456px;
  height:130px;
}
#u3037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:130px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:320px;
  width:74px;
  height:27px;
  font-size:12px;
  color:#A1A1A1;
}
#u3038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:110px;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:282px;
  width:224px;
  height:99px;
  font-size:16px;
  color:#FFFFFF;
}
#u3039_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u3040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:114px;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:400px;
  width:249px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u3040_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u3041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:166px;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:530px;
  width:284px;
  height:155px;
  font-size:16px;
  color:#FFFFFF;
}
#u3041_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:1938px;
  top:607px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u3042_seg0 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-4px;
  width:122px;
  height:8px;
}
#u3042_seg1 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-4px;
  width:8px;
  height:9px;
}
#u3042_seg2 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-3px;
  width:21px;
  height:8px;
}
#u3042_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:1938px;
  top:594px;
  width:301px;
  height:26px;
  color:#FFFFFF;
}
#u3043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:1939px;
  top:595px;
  width:300px;
  height:25px;
}
#u3044_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:125px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:819px;
  width:224px;
  height:114px;
  font-size:16px;
  color:#FFFFFF;
}
#u3045_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u3046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:150px;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:957px;
  width:224px;
  height:139px;
  font-size:16px;
  color:#FFFFFF;
}
#u3046_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u3047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:108px;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:130px;
  width:263px;
  height:97px;
  font-size:16px;
  color:#FFFFFF;
}
#u3047_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:420px;
  width:0px;
  height:0px;
}
#u3048_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:406px;
  height:8px;
}
#u3048_seg1 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:-245px;
  width:8px;
  height:249px;
}
#u3048_seg2 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:-245px;
  width:15px;
  height:8px;
}
#u3048_text {
  border-width:0px;
  position:absolute;
  left:277px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:137px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:335px;
  width:319px;
  height:126px;
  font-size:16px;
  color:#FFFFFF;
}
#u3049_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:299px;
  word-wrap:break-word;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:2147px;
  top:398px;
  width:0px;
  height:0px;
}
#u3050_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u3050_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:300px;
  width:396px;
  height:196px;
}
#u3051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:2269px;
  top:309px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u3052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:2488px;
  top:454px;
  width:145px;
  height:29px;
}
#u3053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:2616px;
  top:309px;
  width:17px;
  height:17px;
}
#u3054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:24px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:2269px;
  top:348px;
  width:304px;
  height:23px;
  font-size:20px;
}
#u3055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:2269px;
  top:454px;
  width:145px;
  height:29px;
}
#u3056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:79px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:729px;
  width:207px;
  height:68px;
  font-size:16px;
  color:#FFFFFF;
}
#u3057_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u3058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:305px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:1838px;
  top:739px;
  width:308px;
  height:294px;
  font-size:16px;
  color:#FFFFFF;
}
#u3058_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u3059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:109px;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:195px;
  width:287px;
  height:98px;
  font-size:16px;
  color:#FFFFFF;
}
#u3059_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u3060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:736px;
  width:56px;
  height:16px;
}
#u3060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:736px;
  width:6px;
  height:6px;
}
#u3061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:729px;
  width:67px;
  height:30px;
}
#u3062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:141px;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1262px;
  width:332px;
  height:130px;
  font-size:16px;
}
#u3063_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u3064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:109px;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:1532px;
  top:1369px;
  width:305px;
  height:98px;
  font-size:16px;
  color:#FFFFFF;
}
#u3064_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:1418px;
  width:0px;
  height:0px;
}
#u3065_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u3065_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:313px;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1262px;
  width:630px;
  height:312px;
}
#u3066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1271px;
  width:122px;
  height:23px;
  font-size:20px;
}
#u3067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:1534px;
  width:145px;
  height:29px;
}
#u3068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1304px;
  width:603px;
  height:220px;
}
#u3069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:220px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:1504px;
  width:27px;
  height:16px;
}
#u3070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:1504px;
  width:8px;
  height:16px;
}
#u3071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1392px;
  width:0px;
  height:0px;
}
#u3072_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u3072_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:239px;
  height:8px;
}
#u3072_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1017px;
  width:70px;
  height:16px;
}
#u3073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1017px;
  width:37px;
  height:16px;
}
#u3074_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u3074_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3075 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:1017px;
  width:169px;
  height:16px;
}
#u3075_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u3075_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:980px;
  width:97px;
  height:16px;
}
#u3076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3077 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:980px;
  width:75px;
  height:16px;
}
#u3077_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u3077_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3078 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:980px;
  width:88px;
  height:16px;
}
#u3078_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3078_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:15px;
}
#u3079 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:980px;
  width:236px;
  height:14px;
  font-size:12px;
}
#u3079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u3080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:147px;
}
#u3080 {
  border-width:0px;
  position:absolute;
  left:1838px;
  top:1084px;
  width:299px;
  height:136px;
  font-size:16px;
  color:#FFFFFF;
}
#u3080_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u3081 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:729px;
  width:52px;
  height:30px;
}
#u3081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u3082 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:736px;
  width:15px;
  height:16px;
}
#u3082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3083 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:729px;
  width:49px;
  height:30px;
}
#u3083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u3084 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:736px;
  width:15px;
  height:16px;
}
#u3084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u3085 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:906px;
  width:42px;
  height:16px;
}
#u3085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u3086 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:899px;
  width:154px;
  height:30px;
}
#u3086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u3087 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:409px;
  width:27px;
  height:16px;
}
#u3087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u3088 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:409px;
  width:8px;
  height:16px;
}
#u3088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
