body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1608px;
  height:358px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:1608px;
  height:358px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:378px;
  width:57px;
  height:16px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:314px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:518px;
  width:437px;
  height:314px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:386px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:242px;
  height:8px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:-4px;
  width:8px;
  height:136px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:135px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:431px;
  width:85px;
  height:16px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:50px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:414px;
  width:378px;
  height:50px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:431px;
  width:85px;
  height:16px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:50px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:414px;
  width:378px;
  height:50px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:95px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:554px;
  width:322px;
  height:95px;
  font-size:14px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
