body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:797px;
}
#u18321 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:26px;
  width:1300px;
  height:796px;
}
#u18321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:797px;
}
#u18322 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:26px;
  width:210px;
  height:796px;
}
#u18322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:93px;
}
#u18323 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:26px;
  width:210px;
  height:92px;
}
#u18323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18324 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:118px;
  width:210px;
  height:49px;
}
#u18324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18325 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:167px;
  width:210px;
  height:49px;
}
#u18325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18326 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:216px;
  width:210px;
  height:49px;
}
#u18326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18327 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:265px;
  width:210px;
  height:49px;
}
#u18327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18328 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:314px;
  width:210px;
  height:49px;
}
#u18328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:23px;
}
#u18329 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:61px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u18329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u18330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18330 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:135px;
  width:57px;
  height:16px;
}
#u18330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18331 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:184px;
  width:57px;
  height:16px;
}
#u18331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18332 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:233px;
  width:57px;
  height:16px;
}
#u18332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18333 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:363px;
  width:210px;
  height:49px;
}
#u18333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:50px;
}
#u18334 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:412px;
  width:210px;
  height:49px;
}
#u18334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18335 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:282px;
  width:57px;
  height:16px;
}
#u18335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18336 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:331px;
  width:57px;
  height:16px;
}
#u18336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18337 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:380px;
  width:57px;
  height:16px;
}
#u18337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u18338 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:429px;
  width:57px;
  height:16px;
}
#u18338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u18339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:696px;
}
#u18339 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:69px;
  width:1029px;
  height:695px;
}
#u18339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u18340 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:85px;
  width:74px;
  height:16px;
}
#u18340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u18341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:2px;
}
#u18341 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:114px;
  width:1029px;
  height:1px;
}
#u18341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18342 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:209px;
  width:900px;
  height:230px;
}
#u18343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u18343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u18344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u18344 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:30px;
}
#u18344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u18345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u18345 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:30px;
}
#u18345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u18346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u18346 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:200px;
  height:30px;
}
#u18346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u18347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u18347 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:150px;
  height:30px;
}
#u18347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u18348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u18348 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:200px;
  height:30px;
}
#u18348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u18349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u18349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
}
#u18349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u18350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18350 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:200px;
  height:40px;
}
#u18350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u18351 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:100px;
  height:40px;
}
#u18351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18352 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:200px;
  height:40px;
}
#u18352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u18353 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:150px;
  height:40px;
}
#u18353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u18354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18354 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:200px;
  height:40px;
}
#u18354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u18355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
}
#u18355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u18356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18356 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:200px;
  height:40px;
}
#u18356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u18357 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:70px;
  width:100px;
  height:40px;
}
#u18357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18358 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:200px;
  height:40px;
}
#u18358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u18359 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:70px;
  width:150px;
  height:40px;
}
#u18359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u18360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18360 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:70px;
  width:200px;
  height:40px;
}
#u18360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u18361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:40px;
}
#u18361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u18362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18362 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:200px;
  height:40px;
}
#u18362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u18363 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:110px;
  width:100px;
  height:40px;
}
#u18363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18364 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:110px;
  width:200px;
  height:40px;
}
#u18364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u18365 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:110px;
  width:150px;
  height:40px;
}
#u18365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u18366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18366 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:110px;
  width:200px;
  height:40px;
}
#u18366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u18367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:40px;
}
#u18367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u18368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18368 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:200px;
  height:40px;
}
#u18368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u18369 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:150px;
  width:100px;
  height:40px;
}
#u18369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18370 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:150px;
  width:200px;
  height:40px;
}
#u18370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u18371 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:150px;
  width:150px;
  height:40px;
}
#u18371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u18372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18372 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:150px;
  width:200px;
  height:40px;
}
#u18372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u18373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:50px;
  height:40px;
}
#u18373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u18374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18374 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:190px;
  width:200px;
  height:40px;
}
#u18374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u18375 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:190px;
  width:100px;
  height:40px;
}
#u18375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18376 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:200px;
  height:40px;
}
#u18376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u18377 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:190px;
  width:150px;
  height:40px;
}
#u18377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u18378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u18378 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:190px;
  width:200px;
  height:40px;
}
#u18378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18379 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:253px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18380 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:253px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18381 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:292px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18382 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:292px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18383 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:334px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18384 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:334px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u18385 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:157px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u18386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u18386 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:181px;
  width:75px;
  height:19px;
}
#u18386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u18387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u18387 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:475px;
  width:75px;
  height:19px;
}
#u18387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u18388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18388 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:372px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18389 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:372px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18390 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:410px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u18391 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:410px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u18391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u18392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u18392 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:297px;
  width:300px;
  height:170px;
}
#u18392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u18393 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:314px;
  width:52px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u18394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u18394 {
  border-width:0px;
  position:absolute;
  left:1466px;
  top:372px;
  width:141px;
  height:16px;
}
#u18394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u18395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u18395 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:427px;
  width:70px;
  height:25px;
}
#u18395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u18396 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:427px;
  width:70px;
  height:25px;
}
#u18396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
}
#u18397 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:146px;
  width:278px;
  height:44px;
  font-size:18px;
}
#u18397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u18398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:2px;
}
#u18398 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:573px;
  width:216px;
  height:1px;
  font-size:18px;
}
#u18398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u18399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u18399 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:605px;
  width:300px;
  height:170px;
}
#u18399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u18400 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:622px;
  width:52px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u18401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
}
#u18401 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:676px;
  width:223px;
  height:16px;
}
#u18401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u18402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u18402 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:733px;
  width:70px;
  height:25px;
}
#u18402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u18403 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:733px;
  width:70px;
  height:25px;
}
#u18403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u18404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
}
#u18404 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:262px;
  width:176px;
  height:25px;
  font-size:18px;
}
#u18404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u18405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u18405 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:100px;
  width:162px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u18406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u18406 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:216px;
  width:162px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u18407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u18407 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:527px;
  width:162px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u18408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u18408 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:822px;
  width:162px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u18409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:17px;
}
#u18409 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:891px;
  width:293px;
  height:16px;
}
#u18409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u18410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u18410 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:952px;
  width:162px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u18411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
}
#u18411 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:1029px;
  width:187px;
  height:16px;
}
#u18411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
