body{
    margin: 0;
    
}
*,*::before,*::after{
    box-sizing: border-box;
}
.header{
    display        : flex;
    justify-content: space-between;
}
.header-left{
    padding-left: 30px;
    color       : #ec8d11;
}
.header-right{
    display      : flex;
    padding-right: 30px;
}
.header-right p{
    
    margin : 0;
    padding: 18px 15px;
}
.header-right p:hover{
    background: #e4e4e4;
}
.icon-power{
    
    color    : #ec8d11;
    font-size: 24px;
    margin   : 0;
}
.folding{
    background: #f8f8f8;
}
/* #header{
    display        : flex;
    justify-content: flex-start;
} */
.folding /deep/ .el-collapse-item__header{
    text-align: left;
    background: #f8f8f8;
}
:host /deep/ .el-collapse-item__content{
    padding: 0;
}
a{
    display        : block;
    text-decoration: none;
    background     : #f8f8f8;
    font-size      : 13px;
    outline        : none;
    color          : #ec8d11;
    border-top     : 1px solid #e6ebf5;
    padding        : 10px 0 10px 55px;
    text-align     : left;
    
}

a:visited{
    color: #ec8d11;
}
a:hover{
    background: #bdbdbd;
}
a:active{
    color: #ff0000;
} 
.content{
    width  : 100%;
    display: flex;
}
.content-right{
   height: 568px;
   width : 250px;
    
}
.content-left{
    flex      : 1;
    background: #fff;
    width     : calc(100% - 250px);
}
.icon-house1,.icon-wrench{
    padding-left : 30px;
    padding-right: 10px;
    color        : #ec8d11;
}