
form /deep/ el-date-picker{
    width: 52%;



}
form /deep/ el-select{
    width: 52%;
}
form /deep/ .el-date-editor{
    width: auto;
}
form /deep/ el-input{
    width: 52%;
}
/* form /deep/ .el-select .el-input__inner{
    padding-right: 0;
} */
.head-word{
    display   : inline-block;
    width     : 35%;
    text-align: center;
}
form{
    border    : 1px solid #e4e4e4;
    padding   : 30px;
    margin    : 15px 20px;
    box-sizing: border-box;
    width     : calc(100% - 40px);
}
form /deep/ .el-col-6{
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    margin-bottom  : 15px ;
    position       : relative;
}
form /deep/.el-date-picker{
    right: 0;
}
form /deep/ button{
  float      : right;
  margin-left: 20px;
}
.head{
    width: 100%;
}
.content-table{
    width     : calc(100% - 40px);
    border    : 1px solid #e4e4e4;
    margin    : 15px 20px;
    box-sizing: border-box;
}
.content-head{
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}
.content-head h5{
    padding-left: 15px;
    margin      : 10px 0;
}
.head-right{
    display: flex;
}
.head-right div{
    padding-left : 15px;
    padding-right: 15px;
    margin       : 0 10px;
    font-size    : 13px;
    border       : 1px solid #e4e4e4;
    background   : #d3d3d3;
}
.hold{
  cursor: pointer;
}
.add{
  cursor: pointer;
}
/* #list /deep/ .el-table{
    width: 100% !important;
}
#list /deep/ .cell{
    width: 100% !important;
}
#list /deep/ .el-table__body{
    width: 100% !important;
} */











