<div class="content">
  <form action="" class="login">
      <div class="login-user">
          <input type="text" placeholder="用户名" class="user" id="user" [(ngModel)]="users" name='firstName'>
          <img src="..\assets\loginuser.png" alt="" height="30px" class="user-img">
      </div>

      <div class="login-user">
          <input #password type="password" placeholder="密码" class="user" id="psd">
          <img src="..\assets\loginpsd.png" alt="" height="30px" class="user-img">
      </div>
      <button type="button" class="btn btn-warning login-btn" (click)="fuck(users,password.value)"><p>登录</p></button>
  </form>
</div>

