<body>
  <header class="name">
    <p [innerHTML]="handle"></p>
  </header>
  <main class="name">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
          <nz-form-control [nzLg]="7"></nz-form-control>
          <nz-form-label [nzMd]="3" [nzLg]="2" class="margin-right" nzRequired>标题：</nz-form-label>
          <nz-form-control [nzMd]="24" [nzLg]="8" class="index">
            <input nz-input formControlName="titleinput" placeholder="请输入" />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzLg]="7"></nz-form-control>
        <nz-form-label [nzMd]="3" [nzLg]="2" class="margin-right" nzRequired>学科：</nz-form-label>
        <nz-form-control [nzMd]="24" [nzLg]="8" class="index">
          <nz-select formControlName="subjectselect" nzPlaceHolder="全部">
            <!-- <ng-container *ngFor="let option of listOfOptionstatus"> -->
              <!-- <nz-option [nzLabel]=option.name [nzValue]=option.type ></nz-option> -->
            <!-- </ng-container> -->
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzLg]="7"></nz-form-control>
        <nz-form-label [nzMd]="3" [nzLg]="2" class="margin-right" nzRequired>年级：</nz-form-label>
        <nz-form-control [nzMd]="24" [nzLg]="8" class="index">
          <nz-select formControlName="gradeselect" nzPlaceHolder="全部">
            <!-- <ng-container *ngFor="let option of listOfOptionstatus"> -->
              <!-- <nz-option [nzLabel]=option.name [nzValue]=option.type ></nz-option> -->
            <!-- </ng-container> -->
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzLg]="7"></nz-form-control>
        <nz-form-label [nzMd]="3" [nzLg]="2" class="margin-right">
          <span class=" margin-left">作者：</span>
        </nz-form-label>
        <nz-form-control [nzMd]="24" [nzLg]="8" class="index">
          <input nz-input   [disabled]="false" formControlName="authorinput" placeholder="填写http://开头的网址" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzLg]="7"></nz-form-control>
        <nz-form-label [nzMd]="3" [nzLg]="2" class="margin-right" nzRequired>出处：</nz-form-label>
          <nz-form-control [nzMd]="24" [nzLg]="15" class="index">
            <nz-radio-group formControlName="sourceradio" [(ngModel)]="radioValue">
              <label nz-radio class="radio" nzValue="original" formControlName="originalradio">原创：</label>
              <label nz-radio class="radio" nzValue="reprint" formControlName="reprintradio"> 转载至：</label>
              <input nz-input class="reprint-input" formControlName="reprintinput" placeholder="填写http://开头的网址" [readonly]="radioValue=='original'||disabled=='true'?true:false"/>
            </nz-radio-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item class="postion-cover">
        <nz-form-control [nzLg]="7"></nz-form-control>
        <nz-form-label [nzMd]="3" [nzLg]="2" class="margin-right" nzRequired>
          <span class="font-cover">封面：</span>
        </nz-form-label>
        <nz-form-control [nzMd]="24" [nzLg]="4" class="index">
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [nzFileList]="fileList">
            <img class="name" src=""/>
          </nz-upload>
          <p class="photo-size">(上传文件在5M以内)<span class="required">*</span></p>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="postion-tabel">
          <nz-form-control [nzLg]="9"></nz-form-control>
          <nz-form-label [nzMd]="24" [nzLg]="8">
            <nz-table #basicTable [nzData]="listOfData" [nzPageSize]=1 [nzShowPagination]='false'>
                <thead>
                  <tr>
                    <th class="name">名称</th>
                    <th>大小</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{data.name}}</td>
                    <td>{{(data.size/(1024*1024)).toFixed(2)}}MB</td>
                    <td>完成</td>
                    <td>
                      <p class="font-upload">上传</p>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
          </nz-form-label>
        </nz-form-item>
    </form>
  </main>
</body>
 