body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1856px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1238px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:1237px;
}
#u2576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:31px;
}
#u2577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:1366px;
  height:89px;
  color:#FF0000;
}
#u2578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:131px;
  height:50px;
}
#u2579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:50px;
  width:80px;
  height:31px;
}
#u2580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:50px;
  width:80px;
  height:31px;
}
#u2581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:58px;
  width:28px;
  height:16px;
}
#u2582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:58px;
  width:28px;
  height:16px;
}
#u2583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:41px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:204px;
  width:930px;
  height:40px;
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:216px;
  width:56px;
  height:16px;
}
#u2585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:344px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:248px;
  width:264px;
  height:343px;
}
#u2586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:257px;
  width:42px;
  height:16px;
}
#u2587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:383px;
  width:42px;
  height:16px;
}
#u2588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:409px;
  width:42px;
  height:16px;
}
#u2589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:409px;
  width:74px;
  height:16px;
}
#u2590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:383px;
  width:42px;
  height:16px;
}
#u2591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:438px;
  width:42px;
  height:16px;
}
#u2592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:438px;
  width:113px;
  height:16px;
}
#u2593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:464px;
  width:42px;
  height:16px;
}
#u2594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:464px;
  width:124px;
  height:16px;
}
#u2595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:492px;
  width:42px;
  height:16px;
}
#u2596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:492px;
  width:91px;
  height:16px;
}
#u2597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:290px;
  width:69px;
  height:69px;
  font-family:'Apple Color Emoji Regular', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  word-wrap:break-word;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:544px;
  width:71px;
  height:20px;
}
#u2599_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:518px;
  width:42px;
  height:16px;
}
#u2600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:518px;
  width:58px;
  height:16px;
  text-decoration:underline;
}
#u2601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:601px;
  width:264px;
  height:42px;
}
#u2602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:853px;
  width:264px;
  height:42px;
}
#u2603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:895px;
  width:264px;
  height:42px;
}
#u2604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:643px;
  width:264px;
  height:42px;
}
#u2605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:6px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:165px;
  width:150px;
  height:5px;
}
#u2606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:381px;
  width:20px;
  height:20px;
}
#u2611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:381px;
  width:20px;
  height:20px;
}
#u2612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:727px;
  width:212px;
  height:42px;
}
#u2613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:685px;
  width:212px;
  height:42px;
}
#u2614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:769px;
  width:212px;
  height:42px;
}
#u2615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:937px;
  width:264px;
  height:42px;
}
#u2616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u2617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:811px;
  width:212px;
  height:42px;
}
#u2617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:33px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:248px;
  width:660px;
  height:32px;
  font-size:16px;
}
#u2618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:656px;
  word-wrap:break-word;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:120px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:282px;
  width:660px;
  height:119px;
}
#u2619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:288px;
  width:75px;
  height:25px;
}
#u2620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:52px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1121px;
  width:660px;
  height:51px;
}
#u2621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1131px;
  width:60px;
  height:30px;
}
#u2622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:1131px;
  width:30px;
  height:30px;
}
#u2623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1131px;
  width:30px;
  height:30px;
}
#u2624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1131px;
  width:30px;
  height:30px;
}
#u2625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1131px;
  width:30px;
  height:30px;
}
#u2626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:1131px;
  width:60px;
  height:30px;
}
#u2627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:1139px;
  width:27px;
  height:15px;
}
#u2628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:1131px;
  width:40px;
  height:30px;
}
#u2629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:1139px;
  width:27px;
  height:15px;
}
#u2630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:1131px;
  width:50px;
  height:30px;
}
#u2631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:1131px;
  width:30px;
  height:30px;
}
#u2632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:121px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:401px;
  width:660px;
  height:120px;
}
#u2633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:453px;
  width:56px;
  height:16px;
}
#u2634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:413px;
  width:70px;
  height:16px;
}
#u2635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:413px;
  width:150px;
  height:16px;
  text-decoration:underline;
}
#u2636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:453px;
  width:117px;
  height:16px;
}
#u2637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:494px;
  width:70px;
  height:16px;
}
#u2638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:494px;
  width:123px;
  height:16px;
}
#u2639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:411px;
  width:88px;
  height:21px;
  font-size:18px;
}
#u2640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:453px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:489px;
  width:75px;
  height:25px;
}
#u2642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:411px;
  width:53px;
  height:21px;
  font-size:18px;
}
#u2643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:453px;
  width:28px;
  height:21px;
}
#u2644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:121px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:521px;
  width:660px;
  height:120px;
}
#u2645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:573px;
  width:56px;
  height:16px;
}
#u2646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:533px;
  width:70px;
  height:16px;
}
#u2647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:533px;
  width:150px;
  height:16px;
  text-decoration:underline;
}
#u2648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:573px;
  width:117px;
  height:16px;
}
#u2649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:614px;
  width:70px;
  height:16px;
}
#u2650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:614px;
  width:123px;
  height:16px;
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:531px;
  width:88px;
  height:21px;
  font-size:18px;
}
#u2652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:573px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:609px;
  width:75px;
  height:25px;
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:531px;
  width:53px;
  height:21px;
  font-size:18px;
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:573px;
  width:28px;
  height:21px;
}
#u2656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:121px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:641px;
  width:660px;
  height:120px;
}
#u2657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:693px;
  width:56px;
  height:16px;
}
#u2658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:653px;
  width:70px;
  height:16px;
}
#u2659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:653px;
  width:150px;
  height:16px;
  text-decoration:underline;
}
#u2660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:693px;
  width:117px;
  height:16px;
}
#u2661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:734px;
  width:70px;
  height:16px;
}
#u2662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:734px;
  width:123px;
  height:16px;
}
#u2663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:651px;
  width:88px;
  height:21px;
  font-size:18px;
}
#u2664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:693px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:729px;
  width:75px;
  height:25px;
}
#u2666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:651px;
  width:53px;
  height:21px;
  font-size:18px;
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:693px;
  width:28px;
  height:21px;
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:121px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:761px;
  width:660px;
  height:120px;
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:813px;
  width:56px;
  height:16px;
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:773px;
  width:70px;
  height:16px;
}
#u2671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:773px;
  width:150px;
  height:16px;
  text-decoration:underline;
}
#u2672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:813px;
  width:117px;
  height:16px;
}
#u2673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:854px;
  width:70px;
  height:16px;
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:854px;
  width:123px;
  height:16px;
}
#u2675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:771px;
  width:88px;
  height:21px;
  font-size:18px;
}
#u2676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:813px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:849px;
  width:75px;
  height:25px;
}
#u2678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:771px;
  width:53px;
  height:21px;
  font-size:18px;
}
#u2679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:813px;
  width:28px;
  height:21px;
}
#u2680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:121px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:881px;
  width:660px;
  height:120px;
}
#u2681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:933px;
  width:56px;
  height:16px;
}
#u2682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:893px;
  width:70px;
  height:16px;
}
#u2683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:893px;
  width:150px;
  height:16px;
  text-decoration:underline;
}
#u2684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:933px;
  width:117px;
  height:16px;
}
#u2685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:974px;
  width:70px;
  height:16px;
}
#u2686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:974px;
  width:123px;
  height:16px;
}
#u2687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:891px;
  width:88px;
  height:21px;
  font-size:18px;
}
#u2688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:933px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:969px;
  width:75px;
  height:25px;
}
#u2690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:891px;
  width:53px;
  height:21px;
  font-size:18px;
}
#u2691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:933px;
  width:28px;
  height:21px;
}
#u2692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:121px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1001px;
  width:660px;
  height:120px;
}
#u2693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1053px;
  width:56px;
  height:16px;
}
#u2694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1013px;
  width:70px;
  height:16px;
}
#u2695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:1013px;
  width:150px;
  height:16px;
  text-decoration:underline;
}
#u2696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:1053px;
  width:117px;
  height:16px;
}
#u2697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1094px;
  width:70px;
  height:16px;
}
#u2698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:1094px;
  width:123px;
  height:16px;
}
#u2699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1011px;
  width:88px;
  height:21px;
  font-size:18px;
}
#u2700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:1053px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:1089px;
  width:75px;
  height:25px;
}
#u2702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:1011px;
  width:53px;
  height:21px;
  font-size:18px;
}
#u2703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:1053px;
  width:28px;
  height:21px;
}
#u2704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:291px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:290px;
  width:131px;
  height:22px;
}
#u2706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2706_input:disabled {
  color:grayText;
}
#u2707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:292px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:290px;
  width:89px;
  height:22px;
}
#u2708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2708_input:disabled {
  color:grayText;
}
#u2709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:331px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:330px;
  width:115px;
  height:22px;
}
#u2710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2710_input:disabled {
  color:grayText;
}
#u2711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:366px;
  width:98px;
  height:19px;
  font-size:16px;
}
#u2711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:363px;
  width:246px;
  height:25px;
}
#u2712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:363px;
  width:105px;
  height:24px;
}
#u2713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u2714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:363px;
  width:105px;
  height:24px;
}
#u2714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u2715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:164px;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:204px;
  width:291px;
  height:153px;
  font-size:16px;
  color:#FFFFFF;
}
#u2715_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:84px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:381px;
  width:291px;
  height:73px;
  font-size:16px;
  color:#FFFFFF;
}
#u2716_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:288px;
  width:75px;
  height:25px;
}
#u2717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:124px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:81px;
  width:291px;
  height:113px;
  font-size:16px;
  color:#FFFFFF;
}
#u2718_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:84px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:494px;
  width:291px;
  height:73px;
  font-size:16px;
  color:#FFFFFF;
}
#u2719_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u2720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:332px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:331px;
  width:115px;
  height:22px;
}
#u2721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2721_input:disabled {
  color:grayText;
}
