<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js6-10\node_modules\angular\npmangular.js"></script>
    <script src="task6.js"></script>
    <title>任务6</title>
    <style>
    input{
        width: 200px;
        height: 40px;
        font-size: 24px;
    }
    </style>
</head>
<body>
    <input type="number" ng-model="nb1"><br>
    <input type="number" ng-model="nb2">
    <h1 ng-bind=nb1*nb2></h1>
</body>
</html>