.header {
  width: 224px;
  height: 1000px;
  background: #3c3c3c;
}

.header /deep/ .ant-collapse {
  background: #3c3c3c;
  border: none;
}

.header /deep/ .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #fff;
}

.header /deep/ .ant-collapse-content > .ant-collapse-content-box {
  padding-left: 60px;
  padding-bottom: 0px;
}

.header /deep/ .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  left: 195px;
}

.header /deep/ .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra, [dir=rtl] .ant-carousel .slick-slide {
  float: left;
  margin-right: 6px;
}
