<div class="header" >
  <nz-collapse nzAccordion>
    <nz-collapse-panel #p *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzExtra]="extraTpl" [nzExpandedIcon]="expandedIcon">
      <p  *ngFor="let sort of panel.sorts">
        <a [routerLink]="sort.url">{{sort.name}}</a>
      </p>
      <ng-template #extraTpl>
        <i nz-icon [nzType]='panel.icon'></i>
      </ng-template>
      <ng-template #expandedIcon >
        <i nz-icon type="right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
</div>



































