body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1145px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:1144px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:31px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:1366px;
  height:89px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:131px;
  height:50px;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:50px;
  width:80px;
  height:31px;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:50px;
  width:80px;
  height:31px;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:58px;
  width:28px;
  height:16px;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:58px;
  width:28px;
  height:16px;
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:41px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:194px;
  width:930px;
  height:40px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:206px;
  width:56px;
  height:16px;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:704px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:238px;
  width:930px;
  height:703px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:6px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:165px;
  width:150px;
  height:5px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:94px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:116px;
  width:299px;
  height:83px;
  font-size:16px;
  color:#FFFFFF;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:862px;
  width:75px;
  height:25px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:862px;
  width:75px;
  height:25px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:152px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:496px;
  width:239px;
  height:141px;
  font-size:16px;
  color:#FFFFFF;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:1819px;
  top:469px;
  width:396px;
  height:196px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:1835px;
  top:478px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:2054px;
  top:623px;
  width:145px;
  height:29px;
}
#u1659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:478px;
  width:17px;
  height:17px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:1835px;
  top:517px;
  width:263px;
  height:23px;
  font-size:20px;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:623px;
  width:145px;
  height:29px;
}
#u1662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:567px;
  width:0px;
  height:0px;
}
#u1663_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:152px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:260px;
  width:239px;
  height:141px;
  font-size:16px;
  color:#FFFFFF;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:233px;
  width:396px;
  height:196px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:242px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:2063px;
  top:387px;
  width:145px;
  height:29px;
}
#u1667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:2191px;
  top:242px;
  width:17px;
  height:17px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:24px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:281px;
  width:304px;
  height:23px;
  font-size:20px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:331px;
  width:0px;
  height:0px;
}
#u1670_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:130px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:716px;
  width:239px;
  height:119px;
  font-size:16px;
  color:#FFFFFF;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:1819px;
  top:723px;
  width:396px;
  height:196px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:1835px;
  top:732px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2054px;
  top:877px;
  width:145px;
  height:29px;
}
#u1674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:732px;
  width:17px;
  height:17px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:1835px;
  top:771px;
  width:122px;
  height:23px;
  font-size:20px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:776px;
  width:0px;
  height:0px;
}
#u1677_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u1677_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:53px;
}
#u1677_seg2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:41px;
  width:23px;
  height:8px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:208px;
  width:178px;
  height:42px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:174px;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:250px;
  width:178px;
  height:42px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:174px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:69px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:893px;
  width:253px;
  height:58px;
  font-size:16px;
  color:#FFFFFF;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:183px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:2299px;
  top:227px;
  width:299px;
  height:172px;
  font-size:16px;
  color:#FFFFFF;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2299px;
  top:431px;
  width:396px;
  height:196px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:2315px;
  top:440px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:2534px;
  top:585px;
  width:145px;
  height:29px;
}
#u1684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:2662px;
  top:440px;
  width:17px;
  height:17px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:24px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2315px;
  top:479px;
  width:344px;
  height:23px;
  font-size:20px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:2320px;
  top:585px;
  width:145px;
  height:29px;
}
#u1687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:2299px;
  top:313px;
  width:0px;
  height:0px;
}
#u1688_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u1688_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:224px;
}
#u1688_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:212px;
  width:23px;
  height:8px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:111px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1246px;
  width:231px;
  height:100px;
  font-size:16px;
  color:#FFFFFF;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:229px;
  width:0px;
  height:0px;
}
#u1690_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1690_seg1 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:8px;
  height:1075px;
}
#u1690_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:1063px;
  width:98px;
  height:8px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:548px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:1011px;
  width:285px;
  height:115px;
  font-size:16px;
  color:#FFFFFF;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:1155px;
  width:396px;
  height:196px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1164px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:1717px;
  top:1309px;
  width:145px;
  height:29px;
}
#u1694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:1164px;
  width:17px;
  height:17px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:48px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1203px;
  width:335px;
  height:47px;
  font-size:20px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:1069px;
  width:0px;
  height:0px;
}
#u1697_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-4px;
  width:16px;
  height:8px;
}
#u1697_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-4px;
  width:8px;
  height:192px;
}
#u1697_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:180px;
  width:16px;
  height:8px;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:183px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:2065px;
  top:990px;
  width:299px;
  height:172px;
  font-size:16px;
  color:#FFFFFF;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:2065px;
  top:1194px;
  width:396px;
  height:196px;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:2081px;
  top:1203px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:2300px;
  top:1348px;
  width:145px;
  height:29px;
}
#u1701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:2428px;
  top:1203px;
  width:17px;
  height:17px;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:24px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:2081px;
  top:1242px;
  width:344px;
  height:23px;
  font-size:20px;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:2086px;
  top:1348px;
  width:145px;
  height:29px;
}
#u1704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:2065px;
  top:1076px;
  width:0px;
  height:0px;
}
#u1705_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:19px;
  height:8px;
}
#u1705_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:8px;
  height:224px;
}
#u1705_seg2 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:212px;
  width:19px;
  height:8px;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:183px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:2417px;
  top:675px;
  width:299px;
  height:172px;
  font-size:16px;
  color:#FFFFFF;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:2417px;
  top:879px;
  width:396px;
  height:196px;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:2433px;
  top:888px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:2652px;
  top:1033px;
  width:145px;
  height:29px;
}
#u1709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:2780px;
  top:888px;
  width:17px;
  height:17px;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:24px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2433px;
  top:927px;
  width:364px;
  height:23px;
  font-size:20px;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:2438px;
  top:1033px;
  width:145px;
  height:29px;
}
#u1712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:2417px;
  top:761px;
  width:0px;
  height:0px;
}
#u1713_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u1713_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:224px;
}
#u1713_seg2 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:212px;
  width:21px;
  height:8px;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:130px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:14px;
  width:239px;
  height:119px;
  font-size:16px;
  color:#FFFFFF;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:197px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:2160px;
  top:21px;
  width:396px;
  height:196px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:2176px;
  top:30px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:2395px;
  top:175px;
  width:145px;
  height:29px;
}
#u1717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:2523px;
  top:30px;
  width:17px;
  height:17px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:2176px;
  top:69px;
  width:212px;
  height:48px;
  font-size:20px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:2065px;
  top:74px;
  width:0px;
  height:0px;
}
#u1720_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1720_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:53px;
}
#u1720_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:41px;
  width:14px;
  height:8px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:503px;
  width:71px;
  height:16px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:557px;
  width:70px;
  height:16px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:557px;
  width:22px;
  height:16px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:332px;
  width:42px;
  height:16px;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:332px;
  width:53px;
  height:16px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:358px;
  width:42px;
  height:16px;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:358px;
  width:53px;
  height:16px;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:384px;
  width:58px;
  height:16px;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:503px;
  width:29px;
  height:16px;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:530px;
  width:22px;
  height:16px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:706px;
  width:70px;
  height:16px;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:706px;
  width:104px;
  height:16px;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:557px;
  width:22px;
  height:16px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:584px;
  width:70px;
  height:16px;
}
#u1734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:83px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:607px;
  width:402px;
  height:82px;
}
#u1735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u1736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:410px;
  width:23px;
  height:16px;
}
#u1736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:438px;
  width:42px;
  height:16px;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:438px;
  width:74px;
  height:16px;
}
#u1738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:384px;
  width:42px;
  height:16px;
}
#u1739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:410px;
  width:42px;
  height:16px;
}
#u1740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:733px;
  width:42px;
  height:16px;
}
#u1741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:733px;
  width:15px;
  height:16px;
}
#u1742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:734px;
  width:86px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u1743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u1744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:332px;
  width:42px;
  height:16px;
}
#u1744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:332px;
  width:111px;
  height:16px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:358px;
  width:42px;
  height:16px;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:358px;
  width:28px;
  height:16px;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:384px;
  width:56px;
  height:16px;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:384px;
  width:56px;
  height:16px;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:411px;
  width:42px;
  height:16px;
}
#u1750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:411px;
  width:28px;
  height:16px;
}
#u1751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:438px;
  width:42px;
  height:16px;
}
#u1752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:438px;
  width:28px;
  height:16px;
}
#u1753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:530px;
  width:56px;
  height:16px;
}
#u1754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:310px;
  width:613px;
  height:1px;
}
#u1755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:475px;
  width:613px;
  height:1px;
}
#u1756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:692px;
  width:613px;
  height:1px;
}
#u1757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:276px;
  width:70px;
  height:16px;
}
#u1758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:276px;
  width:179px;
  height:16px;
}
#u1759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u1760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:316px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:485px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
