div{
    width     : 100px;
    height    : 100px;
    background: #29bde0;
    margin    : 100px;
    transition: 200ms;
}
div:hover{
    transform : rotate(45deg);
    background: #000;

}
.rel { position: relative; }
.fixed1 { position: fixed;top: 100px;transform: scale(1); }
.fixed { position: fixed;top: 200px;transform: scale(1); }

