body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1273px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:52px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:1254px;
  height:52px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:94px;
  width:100px;
  height:16px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u139_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:94px;
  width:100px;
  height:16px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u140_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:94px;
  width:100px;
  height:16px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u141_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:90px;
  width:83px;
  height:22px;
  font-size:16px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:243px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:129px;
  width:1240px;
  height:243px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:382px;
  width:300px;
  height:112px;
  color:#FF0000;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:294px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:153px;
  width:31px;
  height:291px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:228px;
  height:24px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:193px;
  width:225px;
  height:21px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:221px;
  height:24px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:193px;
  width:218px;
  height:21px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:71px;
  height:11px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:199px;
  width:68px;
  height:8px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:106px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:446px;
  width:413px;
  height:106px;
  font-size:14px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:393px;
  word-wrap:break-word;
}
