body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1145px;
}
#u14079 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:1144px;
}
#u14079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u14080 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1366px;
  height:31px;
}
#u14080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u14081 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:81px;
  width:1366px;
  height:89px;
}
#u14081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u14082 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:131px;
  height:50px;
}
#u14082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u14083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u14083 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:50px;
  width:80px;
  height:31px;
}
#u14083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u14084 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:50px;
  width:80px;
  height:31px;
}
#u14084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u14085 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:58px;
  width:28px;
  height:16px;
}
#u14085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u14086 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:58px;
  width:28px;
  height:16px;
}
#u14086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:41px;
}
#u14087 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:204px;
  width:930px;
  height:40px;
}
#u14087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14088 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:216px;
  width:56px;
  height:16px;
}
#u14088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:344px;
}
#u14089 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:248px;
  width:264px;
  height:343px;
}
#u14089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:26px;
}
#u14090 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:248px;
  width:660px;
  height:25px;
}
#u14090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14091 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:253px;
  width:56px;
  height:16px;
}
#u14091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:90px;
}
#u14092 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:380px;
  width:242px;
  height:79px;
  font-size:16px;
  color:#FFFFFF;
}
#u14092_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u14093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:584px;
}
#u14093 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:273px;
  width:660px;
  height:583px;
}
#u14093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u14094 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:781px;
  width:75px;
  height:25px;
}
#u14094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u14095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14095 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:814px;
  width:212px;
  height:42px;
}
#u14095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  word-wrap:break-word;
}
#u14096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u14096 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:604px;
  width:264px;
  height:42px;
}
#u14096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u14097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u14097 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:688px;
  width:264px;
  height:42px;
}
#u14097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u14098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u14098 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:730px;
  width:264px;
  height:42px;
}
#u14098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u14099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u14099 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:772px;
  width:264px;
  height:42px;
}
#u14099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u14100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:43px;
}
#u14100 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:646px;
  width:264px;
  height:42px;
}
#u14100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
#u14101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14101 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:257px;
  width:42px;
  height:16px;
}
#u14101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14102 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:383px;
  width:42px;
  height:16px;
}
#u14102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14103 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:409px;
  width:42px;
  height:16px;
}
#u14103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u14104 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:409px;
  width:77px;
  height:16px;
}
#u14104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u14105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14105 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:383px;
  width:42px;
  height:16px;
}
#u14105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14106 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:438px;
  width:42px;
  height:16px;
}
#u14106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u14107 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:438px;
  width:113px;
  height:16px;
}
#u14107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14108 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:464px;
  width:42px;
  height:16px;
}
#u14108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
}
#u14109 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:464px;
  width:124px;
  height:16px;
}
#u14109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u14110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14110 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:492px;
  width:42px;
  height:16px;
}
#u14110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u14111 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:492px;
  width:91px;
  height:16px;
}
#u14111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u14112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u14112 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:290px;
  width:69px;
  height:69px;
  font-family:'Apple Color Emoji Regular', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  word-wrap:break-word;
}
#u14113 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:544px;
  width:71px;
  height:20px;
}
#u14113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14114 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:518px;
  width:42px;
  height:16px;
}
#u14114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u14115 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:518px;
  width:58px;
  height:16px;
  text-decoration:underline;
}
#u14115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u14116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:6px;
}
#u14116 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:165px;
  width:150px;
  height:5px;
}
#u14116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u14117 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u14117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u14118 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u14118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u14119 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u14119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u14120 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:116px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u14120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14121 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:381px;
  width:20px;
  height:20px;
}
#u14121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14122 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:381px;
  width:20px;
  height:20px;
}
#u14122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:101px;
}
#u14123 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:474px;
  width:243px;
  height:90px;
  font-size:16px;
  color:#FFFFFF;
}
#u14123_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u14124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u14124 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:273px;
  width:64px;
  height:22px;
  color:#FF0000;
}
#u14124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u14125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:128px;
}
#u14125 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:67px;
  width:280px;
  height:117px;
  font-size:16px;
  color:#FFFFFF;
}
#u14125_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u14126 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:284px;
  width:0px;
  height:0px;
}
#u14126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:256px;
  height:8px;
}
#u14126_seg1 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-162px;
  width:8px;
  height:166px;
}
#u14126_seg2 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-162px;
  width:15px;
  height:8px;
}
#u14126_text {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:69px;
}
#u14127 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:580px;
  width:253px;
  height:58px;
  font-size:16px;
  color:#FFFFFF;
}
#u14127_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u14128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:149px;
}
#u14128 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:232px;
  width:253px;
  height:138px;
  font-size:16px;
  color:#FFFFFF;
}
#u14128_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u14129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:92px;
}
#u14129 {
  border-width:0px;
  position:absolute;
  left:1746px;
  top:284px;
  width:263px;
  height:81px;
  font-size:16px;
  color:#FFFFFF;
}
#u14129_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u14130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u14130 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:517px;
  width:71px;
  height:16px;
}
#u14130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u14131 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:571px;
  width:70px;
  height:16px;
}
#u14131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u14132 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:571px;
  width:22px;
  height:16px;
}
#u14132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14133 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:346px;
  width:42px;
  height:16px;
}
#u14133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u14134 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:346px;
  width:66px;
  height:16px;
}
#u14134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14135 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:372px;
  width:42px;
  height:16px;
}
#u14135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
}
#u14136 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:372px;
  width:103px;
  height:16px;
}
#u14136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u14137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14137 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:398px;
  width:42px;
  height:16px;
}
#u14137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u14138 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:517px;
  width:29px;
  height:16px;
}
#u14138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u14139 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:544px;
  width:22px;
  height:16px;
}
#u14139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u14140 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:720px;
  width:70px;
  height:16px;
}
#u14140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u14141 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:720px;
  width:104px;
  height:16px;
}
#u14141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u14142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u14142 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:571px;
  width:22px;
  height:16px;
}
#u14142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u14143 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:598px;
  width:70px;
  height:16px;
}
#u14143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:83px;
}
#u14144 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:621px;
  width:402px;
  height:82px;
}
#u14144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u14145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u14145 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:424px;
  width:23px;
  height:16px;
}
#u14145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u14146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14146 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:452px;
  width:42px;
  height:16px;
}
#u14146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u14147 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:452px;
  width:77px;
  height:16px;
}
#u14147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u14148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14148 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:398px;
  width:42px;
  height:16px;
}
#u14148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14149 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:424px;
  width:42px;
  height:16px;
}
#u14149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u14150 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:747px;
  width:15px;
  height:16px;
}
#u14150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u14151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u14151 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:748px;
  width:86px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u14151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u14152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14152 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:346px;
  width:42px;
  height:16px;
}
#u14152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u14153 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:346px;
  width:111px;
  height:16px;
}
#u14153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14154 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:372px;
  width:42px;
  height:16px;
}
#u14154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u14155 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:372px;
  width:28px;
  height:16px;
}
#u14155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14156 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:398px;
  width:56px;
  height:16px;
}
#u14156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14157 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:398px;
  width:56px;
  height:16px;
}
#u14157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14158 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:425px;
  width:42px;
  height:16px;
}
#u14158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u14159 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:425px;
  width:28px;
  height:16px;
}
#u14159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14160 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:452px;
  width:42px;
  height:16px;
}
#u14160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u14161 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:452px;
  width:28px;
  height:16px;
}
#u14161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14162 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:544px;
  width:56px;
  height:16px;
}
#u14162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u14163 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:324px;
  width:613px;
  height:1px;
}
#u14163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u14164 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:489px;
  width:613px;
  height:1px;
}
#u14164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u14165 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:706px;
  width:613px;
  height:1px;
}
#u14165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u14166 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:290px;
  width:70px;
  height:16px;
}
#u14166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u14167 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:290px;
  width:179px;
  height:16px;
}
#u14167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u14168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u14168 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:330px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u14169 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:499px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14170 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:720px;
  width:56px;
  height:16px;
}
#u14170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14171 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:720px;
  width:42px;
  height:16px;
}
#u14171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u14172 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:747px;
  width:83px;
  height:16px;
}
#u14172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u14173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u14173 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:747px;
  width:80px;
  height:16px;
}
#u14173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u14174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14174 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:717px;
  width:20px;
  height:20px;
}
#u14174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14175 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:717px;
  width:20px;
  height:20px;
}
#u14175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u14176 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:747px;
  width:42px;
  height:16px;
}
#u14176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
