body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:769px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:1366px;
  height:768px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:32px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:1366px;
  height:31px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:90px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:91px;
  width:1366px;
  height:89px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:430px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:229px;
  width:890px;
  height:429px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:251px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:51px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:488px;
  width:353px;
  height:50px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:349px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:381px;
  width:80px;
  height:24px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:437px;
  width:80px;
  height:24px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:427px;
  width:223px;
  height:45px;
}
#u480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:46px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:427px;
  width:124px;
  height:45px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:120px;
  word-wrap:break-word;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:372px;
  width:353px;
  height:45px;
}
#u482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:111px;
  width:131px;
  height:50px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:127px;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:60px;
  width:80px;
  height:31px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:60px;
  width:80px;
  height:31px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:68px;
  width:28px;
  height:16px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:68px;
  width:28px;
  height:16px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:368px;
  width:350px;
  height:45px;
}
#u488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:392px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u489_seg1 {
  border-width:0px;
  position:absolute;
  left:-755px;
  top:-2px;
  width:759px;
  height:8px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:-426px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:360px;
  width:124px;
  height:16px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:416px;
  width:111px;
  height:16px;
  color:#FF0000;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:159px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:60px;
  width:207px;
  height:148px;
  font-size:16px;
  color:#FFFFFF;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:46px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:233px;
  width:124px;
  height:45px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:120px;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:208px;
  width:0px;
  height:0px;
}
#u494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:114px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:550px;
  width:204px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:513px;
  width:0px;
  height:0px;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:527px;
  height:8px;
}
#u496_seg1 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:-4px;
  width:8px;
  height:97px;
}
#u496_seg2 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:85px;
  width:115px;
  height:8px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:312px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:1533px;
  top:708px;
  width:289px;
  height:77px;
  font-size:16px;
  color:#FFFFFF;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:103px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:37px;
  width:207px;
  height:92px;
  font-size:16px;
  color:#FFFFFF;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:82px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:267px;
  width:207px;
  height:71px;
  font-size:16px;
  color:#FFFFFF;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:448px;
  width:354px;
  height:40px;
}
#u500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:898px;
  width:270px;
  height:40px;
}
#u501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:495px;
  width:83px;
  height:16px;
  color:#FF0000;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:942px;
  width:70px;
  height:16px;
  color:#FF0000;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:450px;
  width:0px;
  height:0px;
}
#u504_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:522px;
  height:8px;
}
#u504_seg1 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:-4px;
  width:8px;
  height:27px;
}
#u504_seg2 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:15px;
  width:241px;
  height:8px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:538px;
  width:0px;
  height:0px;
}
#u505_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:4px;
  height:8px;
}
#u505_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:389px;
}
#u505_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:377px;
  width:221px;
  height:8px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:291px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:420px;
  width:111px;
  height:32px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:868px;
  width:124px;
  height:32px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:289px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:295px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:290px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:295px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:290px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:94px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:161px;
  width:207px;
  height:83px;
  font-size:16px;
  color:#FFFFFF;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:303px;
  width:0px;
  height:0px;
}
#u515_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-104px;
  width:8px;
  height:104px;
}
#u515_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-104px;
  width:541px;
  height:8px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:126px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:126px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:126px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:126px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
